html{
    background-image: url('background.jpg');
}

#searchButton{
    position: absolute;
    width: 400px;
    height: 50px;
    opacity: 1;
    right: 800px;
    top: 607px;
}

#inputField{
    position: absolute;
    top: 565px;
    left: 720px;
}
#inputString{
    position: absolute;
    width: 393px;
    height: 30px;
}

#searchSelector{
    position: absolute;
    width: 400px;
    right: 800px;
    top: 500px;
}
