<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <link rel="stylesheet" th:href="@{/css/ToDoListStyle.css}" href="/css/ToDoListStyle.css">
    <script th:src="@{/js/jQuery.js}" src="/js/jQuery.js"></script>
    <script th:src="@{/js/toDoList.js}" src="/js/toDoList.js" ></script>
</head>
<body>
    <div>
        <form th:action="@{/notes/add}" th:method="post">
            <button id="addRow">Add row</button>
        </form>
        <form>
            <button id="deleteRow">Delete row</button>
        </form>
        <div>
            <span id="resQWE"></span>
        </div>
    </div>
    <table id="toDoListTable">
        <thead>
        <tr id="commonHead">
            <td class="orderNumberHead">№</td>
            <td class="noteHead">Заметка</td>
            <td class="statusHead">Статус</td>
            <td class="dateHead">Дата заметки</td>
        </tr>
        </thead>

        <tbody>
        <tr style="height: 18px;" th:each ="item : ${allNotes}" th:method="get">
            <td class="orderNumberHead" th:utext="${item.order}"></td>
            <td contenteditable="true" class="noteHead" th:utext="${item.note}"></td>
            <td class="statusHead">
                <select id="statusSelector">
                    <option value="0" ></option>
                    <option value="1" id="processingNote">В процессе</option>
                    <option value="2" id="modifyNote">Изменить</option>
                    <option value="3" id="completeNote">Завершено</option>
                    <option value="4" id="removeNote">Удалить</option>
                </select>
            </td>
            <td class="dateHead" th:utext="${item.date}"></td>
        </tr>
        </tbody>
    </table>

</body>
</html>
